

 <div ng-Controller="BstListController" class="container-right">
            
            <table class="table table-striped" ng-repeat = "BstDevice in BstDevices | filter:query ">
                <tbody>
                <tr>
                    <th>Vendor</th>
                    <th>serialNumber</th>
                    <th>System</th>
                    <th>componentType</th>
                    <th>inventoryId</th>
                    <th>typeDescription</th>
                    <th>InstallId</th>
                </tr>
                <tr>
                    <td>{{BstDevice.vendor}}</td>
                    <td>{{BstDevice.serialNumber}}</td>
                    <td>{{BstDevice.system}}</td>
                    <td>{{BstDevice.componentType}}</td>
                    <td>{{BstDevice.inventoryId}}</td>
                    <td>{{BstDevice.typeDescription}}</td>
                    <td>{{BstDevice.installId}}</td>
                </tr>
                </tbody>
            </table>
        </div>
